<h1>The dashboard for id: {{bot.id}}</h1>

<a href="/bots/edit/{{bot.id}}" class="btn btn-primary">Edit</a>

<form class="form-button" method="post" action="/bots/run/{{bot.id}}">
  <input type="submit" value"Run" class="btn btn-success"></input>
</form>

<p>name: {{bot.name}}</p>
<p>runs: {{bot.runs}}</p>

<p>code: <pre><code>{{bot.code}}</code></pre></p>

<script>hljs.initHighlightingOnLoad();</script>
